main.main .div-content {
    min-height: 600px;
    width: 30%;
    padding: 15px;
    margin: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}

main.main .form {
    width: 100%;
    margin: 10px 20px;
    color: #fff;
    font-weight: 400;
}

main.main .header-form {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
}

main.main .paragraph-term {
    margin-top: 30px;
    font-size: 0.9rem;
}

main.main .div-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/*-------------------------------------------------------------------
MOBILE 
-------------------------------------------------------------------*/

@media (max-width: 506px) {
    main.main .div-content {
        width: 100%;
        margin: 30px 5px 30px 5px;
        padding: 15px;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.9rem;
        color: #fff;
    }
}