main.main .div-content {
    max-height: 600px;
    min-width: 30%;
    margin: 20px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 10px;
}

main.main .form {
    width: 100%;
    margin: 10px 20px;
    color: #fff;
    font-weight: 400;
}

main.main .header-form {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
}

main.main .div-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}