main.main .div-content {
    max-height: 600px;
    min-width: 30%;
    margin: 20px;
    padding: 15px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}

main.main .form {
    width: 100%;
    margin: 10px 20px;
    color: #fff;
    font-weight: 400;
}

main.main .header-form {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    font-weight: 600;
}

main.main .div-button {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

main.main .game:hover {
    cursor: pointer; 
    color: #fff;
    text-decoration: underline;
}

.modal-content {
    height: 100%;
    width: 100%;
    border-radius: 10px;
    padding: 3px;
    border: solid 1px #fff;
    
}

.modal-header {
    border-bottom: solid 1px #100f0f;
    background-color: #100f0f;
    color: #fff;
}


.box-modal-body {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.modal-footer {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 60px;
    border-top: solid 1px #100f0f;
    background-color: #100f0f;
    border-radius: 0px 0px 10px 10px;
}

/*-------------------------------------------------------------------
MOBILE 
-------------------------------------------------------------------*/

@media (max-width: 506px) {
    main.main .div-content {
        width: 100%;
        margin: 30px 5px 30px 5px;
        padding: 15px;
        background-color: rgba(0, 0, 0, 0.8);
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 0.9rem;
        color: #fff;
    }

    main.main .access_term_responsability {
        font-size: 0.9rem;
    }


}